* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, sans-serif;
}

/* Overall body styling */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(25, 25, 25);
}

/* Styling for the display area */
.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.5em 1em 2em 1em;
}

/* Styling for the stopwatch circle */
.circle {
  width: 70vw;
  height: 70vw;
  max-width: 16em;
  max-height: 16em;
  border-radius: 50%;
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(25, 25, 25);
  box-shadow: 0 0 80px rgba(146, 0, 225, 0.85);
}

/* Styling for the time digits */
.circle #time {
  font-size: clamp(8px, 9vw, 35px);
  color: #fff;
}

/* Animation for the stopwatch circle */
.circle.animate {
  animation: boxShadowAnimation 3s infinite;
}

/* Keyframes for the box shadow animation */
@keyframes boxShadowAnimation {
  0% {
  box-shadow: 0 0 80px rgba(146, 0, 225, 0.85);
  }
  
  50% {
  box-shadow: 0 0 15px rgba(146, 0, 225, 0.85);
  }
  
  100% {
  box-shadow: 0 0 80px rgba(146, 0, 225, 0.85);
}
}

/* Styling for horizontal lines */
hr {
  display: none;
  margin: 0;
  padding: 0;
  width: 99%;
  border-color: #444444;
}

/* Container for lap times */
.lapsBox {
  display: none;
  width: 100vw;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: #333333;
  border-radius: 2px;
  text-align: center;
  position: relative;
}

/* Gradient effect for laps box when it overflows */
.lapsBox.with-gradient::after {
  content: '';
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, rgba(25, 25, 25, 1), transparent);
  pointer-events: none;
  display: block;
  z-index: 1;
}

/* Styling for each lap time */
.laps div {
  background-color: #333333;
  color: white;
  padding: 10px;
  margin: 0 4vw 0 4vw;
  border-bottom: 1px solid rgb(25, 25, 25);
}

.laps div p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.lapCounter,
.lapTime {
  display: inline-block;
  align-items: center;
}

/* Styling for the buttons container */
.buttons {
  margin-top: auto;
  padding: 1.5em 1em 2em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

/* Styling for buttons */
.buttons button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
